on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare extension
        run: |
          TAG="${{  github.ref_name }}"
          VERSION="${TAG#v}"
          mkdir extension
          jq '.version |= "${VERSION}"' manifest.json > extension/manifest.json
          cp -r rules extension/rules
      - name: Build extension
        run: |
          cd extension
          npx web-ext build
      - name: Release to addons.mozilla.org
        run: |
          # Build and submit
          cd extension
          npx web-ext sign --channel="listed" --amo-metadata="../metadata.json" --api-key="${{ secrets.WEB_EXT_API_KEY }}" --api-secret="${{ secrets.WEB_EXT_API_SECRET }}"
