on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Testing
        run: |
          echo "Tag name from github.ref_name: ${{  github.ref_name }}"
